.pop-over-container.seoHide{'v-show':'wc.action', style:"display:none;", ":style":"{'display':'initial'}" }
    .action-box
        %a{href:"tel:1-208-407-0301", "v-show":"wc.isMobile"}
            %button.btn-action
                // Phone
                <i class="material-icons">&#xE0CD;</i>
                Call
        %a{":href":"wc.smsLink", "v-show":"wc.isMobile"}
            %button.btn-action
                // Text
                <i class="material-icons">&#xE0D8;</i>
                Text
        %button.btn-action{"@click":"wc.phoneNumToggle()", "v-show":"!wc.phoneNum && !wc.isMobile"}
            <i class="h1 material-icons">&#xE0CD;</i>
            Call
        %button.btn-action{"@click":"wc.phoneNumToggle()", "v-show":"!wc.phoneNum && !wc.isMobile"}
            <i class="material-icons">&#xE0D8;</i>
            Text
        .h4{"v-show":"wc.phoneNum"}
            %input.phone-input{value:"1-208-407-0301"}
        %a{href:"/form", target:"_blank"}
            %button.btn-action{'@click':''}
                // Description
                <i class="material-icons">&#xE873;</i>
                Form