.container-fluid.background-1
	.row.first-row
		.col-xs-0.col-md-2
		.col-xs-12.col-md-8
			.flex-area
				%h1.real-text.animated.fadeIn{style:"display:none; animation-delay: 0.25s; animation-duration:2.5s;"} CJ's MOBILE DJ
				.text-area-wrap
					%span.text-area.text-area-main#text-area
				%h2.real-text.animated.fadeIn{style:"display:none; animation-duration:3s; animation-delay: 1.75s;"} GIVE YOUR NEXT EVENT A PULSE
		.col-xs-12.col-md-2
.container-fluid.background-3
	%h3 THE GIST
	.row.second-row
		.col-xs-0.col-md-2
		.col-xs-12.col-md-8
			.row
				.col-xs-12.col-md-4
					=image_tag 'perfect-fit.svg', class:'action-icon'
					%h4 THE PERFECT FIT
					%p Tell us the vibe you're aiming for and we'll curate a collection that strikes the right chord every time.
				.col-xs-12.col-md-4
					=image_tag 'speaker.svg', class:'action-icon'
					%h4 THE RIGHT STUFF
					%p To skip all the DJ lingo, if you like crystal-clear highs and deep bass, our speakers are just for you.
				.col-xs-12.col-md-4
					=image_tag 'mic.svg', class:'action-icon'
					%h4 THE MAGIC MIC
					%p An MC with years of experience who can vitalize your event without stealing the show.
			.row
				.col-xs-12.col-md-4
					=image_tag 'handshake.svg', class:'action-icon'
					%h4 ALL ABOUT YOU
					%p Working with you is an essential part of our formula, whether it's over a phone call or a cup of coffee on us.
				.col-xs-12.col-md-4
					=image_tag 'disco-ball.svg', class:'action-icon'
					%h4 THE BEST LIGHTS
					%p 10+ advanced lighting systems to compliment your musical preferences and the style of the event.
				.col-xs-12.col-md-4
					=image_tag 'travel.svg', class:'action-icon'
					%h4 ON THE ROAD
					%p Have music, will travel. Planning a wedding in Timbuktu? It's not called CJ's <em>Mobile</em> DJ for no reason.
		.col-xs-0.col-md-2
.container-fluid.background-2
	%h3 WE DO IT ALL
	.row.second-row
		.col-xs-6.col-md-6.mask-bg.wedding-bg
			.word-mask.weddings
			.under-mask.weddings
				%p.flex-middle
		.col-xs-6.col-md-6.mask-bg.party-bg
			.word-mask.parties
			.under-mask.parties
				%p.flex-middle Make my wedding pulse
		.col-xs-6.col-md-6.mask-bg.dance-bg
			.word-mask.dances
			.under-mask.dances
				%p.flex-middle Make my wedding pulse
		.col-xs-6.col-md-6.mask-bg.special-event-bg
			.word-mask.special-events
			.under-mask.special-events
				%p.flex-middle Make my wedding pulse
.container-fluid.background-4
	.row.second-row
		.col-xs-0.col-md-1
		.col-xs-12.col-md-4
			.nested-text
				%h3 PRICING
				%p.text-left No two performances are exactly alike, so no two prices are exactly the same. 
				%p.text-left Call or text us & we'll shoot you a quick quote.
		.col-xs-0.col-md-7
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<filter id="glitch" x="0" y="0">
<feColorMatrix in="SourceGraphic" mode="matrix" values="1 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 0" result="r" />

<feOffset in="r" result="r" dx="-5">
<animate attributeName="dx" attributeType="XML" values="0; -5; 0; -18; -2; -4; 0 ;-3; 0" dur="0.2s" repeatCount="indefinite"/>
</feOffset>
<feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0  0 1 0 0 0  0 0 0 0 0  0 0 0 1 0" result="g"/>
<feOffset in="g" result="g" dx="-5" dy="1">
<animate attributeName="dx" attributeType="XML" values="0; 0; 0; -3; 0; 8; 0 ;-1; 0" dur="0.15s" repeatCount="indefinite"/>
</feOffset>
<feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 1 0 0  0 0 0 1 0" result="b"/>
<feOffset in="b" result="b" dx="5" dy="2">
<animate attributeName="dx" attributeType="XML" values="0; 3; -1; 4; 0; 2; 0 ;18; 0" dur="0.35s" repeatCount="indefinite"/>
</feOffset>
<feBlend in="r" in2="g" mode="screen" result="blend" />
<feBlend in="blend" in2="b" mode="screen" result="blend" />
</filter>
</defs>
</svg>

		
		
		
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<filter id="glitch" x="0" y="0">
<feColorMatrix in="SourceGraphic" mode="matrix" values="1 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 0" result="r" />

<feOffset in="r" result="r" dx="-5">
<animate attributeName="dx" attributeType="XML" values="0; -5; 0; -18; -2; -4; 0 ;-3; 0" dur="0.2s" repeatCount="indefinite"/>
</feOffset>
<feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0  0 1 0 0 0  0 0 0 0 0  0 0 0 1 0" result="g"/>
<feOffset in="g" result="g" dx="-5" dy="1">
<animate attributeName="dx" attributeType="XML" values="0; 0; 0; -3; 0; 8; 0 ;-1; 0" dur="0.15s" repeatCount="indefinite"/>
</feOffset>
<feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 1 0 0  0 0 0 1 0" result="b"/>
<feOffset in="b" result="b" dx="5" dy="2">
<animate attributeName="dx" attributeType="XML" values="0; 3; -1; 4; 0; 2; 0 ;18; 0" dur="0.35s" repeatCount="indefinite"/>
</feOffset>
<feBlend in="r" in2="g" mode="screen" result="blend" />
<feBlend in="blend" in2="b" mode="screen" result="blend" />
</filter>
</defs>
</svg>
