.row.nav-row.nav-row-solid
    / %h1 CJ's Mobile DJ
    / %a.bttn.open-bttn.nav-bttn{style:"display:none;"} GET A QUOTE

    .col-sm-1.col-xs-0
    .col-sm-5.col-xs-12.text-left
        %a{href:"#{root_path}"}
            %h1 CJ's Mobile DJ
    .col-sm-5.col-xs-12
        %a.bttn.open-bttn.nav-bttn GET A QUOTE
    .col-md-1.col-xs-0