

.pop-over-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;left:0;right:0;bottom:0;
    background: $first;
    z-index: 3000;
    @include sml{
        padding-top:33%;
    }
    .action-box{
        .btn-action{
            display: inline-block;
            align-items: center;
            background-color:$third;
            border-radius: 100%;
            border:none;
            min-width:12rem;
            min-height:12rem;

            padding:4rem 2rem;
            margin:5%;
            font-size: 2rem;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
            &:focus{
                outline:none;
            }
        }
    }
}
.phone-input{
    color:black;
    border-radius: 6px;
    border:none;
    padding:5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

}
