// COLORS

$first: #222831;
$first-translucent:rgba(34,40,49,0.9);
$second:#393E46;
$third:#00ADB5;
$fourth:#EEEEEE;
$fourth-translucent:rgba(238,238,238,0.9);
$title-font: 'Bungee Hairline', sans-serif;

//	FONTS

$title-font: 'Bungee Hairline', sans-serif;
