/* ...
*= require_self
* require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
//@import "animate";

@import "variables";
@import "nav";
@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(bungee-hairline.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(quicksand.woff) format('woff');
}
@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(bungee-hairline.woff2) format('woff2');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(quicksand.woff2) format('woff2');
}
//@keyframes trans-bg{
//	from{background: rgba(34, 40, 49, 0.9);}
//	to{background: rgba(34, 40, 49, 0.8);}
//}
//@keyframes noise-bg{
//	from{background-image:url(http://7art-screensavers.com/screens/white_noise/white-noise-animated-wallpaper.gif);}
//	to{background-image:url(http://static.wixstatic.com/media/3678b6_293a7f9fb21b4348bb370b4f2ab06e9c.gif);}
//}


// VARIABLE DEFINITIONS

body{
  background:$first;
  color:$fourth;
  text-align:center;
  font-family: Quicksand, Sans-serif;
}
.inline{
	display:inline;
}
.accent{
	color:$third;
}

h1{
    font-size: 3em;
}
h2{
	font-size:2.5em;
}
h3{
	font-size:2.3em;
}
h4{
	font-size:1.75em;
	
}
p{
	font-size:1.4em;
}
a, a:hover, a:focus{
	text-decoration:none;
	color:inherit;
}