
html{
    font-size:16px;
    @include sml{
        font-size: 12.5px;
    }
}
body{
  background:$first;
  color:$fourth;
  text-align:center;
  font-family: Quicksand, Sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
}
.inline{
	display:inline;
}
.accent{
	color:$third;
}

.h1{
    font-size: 2.5rem;
}
.h2{
	font-size:2.25rem;
}
.h3{
	font-size:2.3rem;
    @extend .h4;
}
.h4{
	font-size:1.75rem;
	
}
ol{
    li{
        @extend .h3;
        text-align: left;
    }
}
.p{
	font-size:1.4rem;
}
a, a:hover, a:focus{
	text-decoration:none;
	color:inherit;
}
.seoHide{
    display:none;
}
.unhidden{
    display:auto !important;
}

.dark-text{
    color:rgba(black, 0.8);
    a{
        @extend .dark-text;
    }
}

.elevated-box{
    background-color:$white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    padding:15px;
    margin:15px;
    border-radius:4px;
    @extend .dark-text
}
