.logo-image{
    mix-blend-mode: multiply;
}
.container-fluid{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.background-5{
    background-image: image_url('confetti-dark.jpg');
}
.background-7{
    background-image:image_url('img10.jpg')
}

.in-block-cta-btn{
    background-color:$third;
    color:$white;
}

.content-container{
    height:66%;
    .nested-text{
        margin-top:50%;
    }
}

.footer{
    .footer-col{
        *{
            margin:2.5% 0;
        }
    }
}
