@import 'pop-over';
.logo-image{
    mix-blend-mode: multiply;
}
.bg{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.background-5{
    background-image: image_url('confetti-dark.jpg');
}
.background-7{
    background-image:image_url('img10.jpg');
    position: relative;
    height:77%;
    display: flex;
}
.background-8{
    background-image:image_url('confetti-min.jpg');
    height:77%;
}

.in-block-cta-btn{
    background-color:$third;
    color:$white;
}
.text-section-container{
    min-height: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.flex-col{
    display: flex;
    flex-direction: column;
}
.space-around{
    justify-content: space-around;
}

.content-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    .nested-text{
        margin-top:50%;
    }
}

.stat-item{
    font-size:1.75rem;
}
.reviews-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer{
    .footer-col{
        *{
            margin:2.5% 0;
        }
    }
}

